@import url("reset.css");

body {
    position: fixed;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    color: #fff;

    margin:0; padding: 0;
    background: #000;
}

.clear {
    clear: both;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

/* -------- */





